<div>
    <p>
    ACI Prensa. (s/fecha). El Antiguo Testamento: Los Profetas Mayores. 28/10/16, de ACI Prensa Sitio web:    <a href="https://www.aciprensa.com/Biblia/profemay.htm">https://www.aciprensa.com/Biblia/profemay.htm</a>
    </p>
    <p>
    ACI Prensa. (s/fecha). El Antiguo Testamento: Los Profetas Menores. 28/10/16, de ACI Prensa Sitio web:    <a href="https://www.aciprensa.com/Biblia/profemen.htm">https://www.aciprensa.com/Biblia/profemen.htm</a>
    </p>
    <p>
    ACI Prensa. (s/fecha). El Antiguo Testamento: El Pentateuco. 28/10/16, de ACI Prensa Sitio web:    <a href="https://www.aciprensa.com/Biblia/pentateuco.htm">https://www.aciprensa.com/Biblia/pentateuco.htm#1</a>
    </p>
    <p>
        ALFREDO LÓPEZ. (2011). Las 10 plagas de Egipto. 4/11/16, de Iglesia.net Sitio web:
        <a href="https://www.iglesia.net/index.php/estudios-biblicos/leer/las-10-plagas-de-egipto/">
            https://www.iglesia.net/index.php/estudios-biblicos/leer/las-10-plagas-de-egipto/
        </a>
    </p>
    <p>
        "Anécdotas Sobre Persa". <em>Anecdonet.com</em>. N.p., 2016. Web. 25 Oct. 2016.
    </p>
    <p>
    Anónimo. (s/fecha). Aharon Appelfeld Katherina (fragmento). 3/11/16, de El Poder de la Palabra Sitio web<u>: </u>    <a href="http://www.epdlp.com/texto.php?id2=9197">http://www.epdlp.com/texto.php?id2=9197</a>
    </p>
    <p>
    Anónimo. (2016). Aharon Appelfeld. 3/11/16, de Wikipedia Sitio web:    <a href="https://es.wikipedia.org/wiki/Aharon_Appelfeld">https://es.wikipedia.org/wiki/Aharon_Appelfeld#Biograf.C3.ADa</a>
    </p>
    <p>
        Anónimo (2014, 04). Los 30 Grandes Cuentistas de la Literatura Universal. Cultura Colectiva. Obtenido 10, 2016, de
        http://culturacolectiva.com/los-30-grandes-cuentistas-de-la-literatura-universal-primera-parte/,
    </p>
    <p>
    Anónimo. (2012). El Exodo Decodificado Documental. 5/11/16, de Youtube Sitio web:    <a href="https://www.youtube.com/watch?v=53_ejzfUPBA&amp;app=desktop">https://www.youtube.com/watch?v=53_ejzfUPBA&amp;app=desktop</a>
    </p>
    <p>
        Anónimo (2011, 03). India Antigua: Ubicación Geográfica. La Civilización India. Obtenido 10, 2016, de
        http://lacivilizacionindia.blogspot.mx/2011/03/ubicacion-geografica-y-origen-del.html,
    </p>
    <p>
        Anónimo. (s/fecha). LA MÚSICA SAGRADA. 30/10/16, de Anónimo Sitio web:
        <a href="http://www.musicaliturgica.com/assets/plugindata/poolc/Nota%20historica%20sobre%20la%20M.%20sacra.pdf">
            http://www.musicaliturgica.com/assets/plugindata/poolc/Nota%20historica%20sobre%20la%20M.%20sacra.pdf
        </a>
    </p>
    <p>
    Anónimo. (s/fecha). Lección 7: El período de los Patriarcas. 29/10/16, de Catolicosenlinea2000 Sitio web:    <a href="http://www.claretianos.org.mx/biblia/leccion7.pdf">http://www.claretianos.org.mx/biblia/leccion7.pdf</a>
    </p>
    <p>
    Anónimo. (s/fecha). LIBROS SAPIENCIALES DEL A. T.. 29/10/16, de Anónimo Sitio web:    <a href="http://www.mercaba.org/FICHAS/BIBLIA/tema_7_sapienciales.htm">http://www.mercaba.org/FICHAS/BIBLIA/tema_7_sapienciales.htm</a>
    </p>
    <p>
        Anónimo. (s/fecha). LITERATURA HEBREA. 3/11/16, de Anónimo Sitio web:
        <a href="https://www.uaeh.edu.mx/docencia/P_Presentaciones/prepa1/artes/LITERATURA%20HEBREA.pdf">
            https://www.uaeh.edu.mx/docencia/P_Presentaciones/prepa1/artes/LITERATURA%20HEBREA.pdf
        </a>
        <u></u>
    </p>
</div>
