<div>
  <h1>Cuento</h1>
  <p>El cuento es una historia breve que habla de un solo tema, ya sea oral o de manera escrita, donde hay lugar y tiempo específico, con pocos personajes y normalmente usa elementos ficticios.
  </p>
  <p>Éste subgénero literario, es uno de los más antiguos. Fueron creados para narrar el origen de las cosas y las características más notables sobre el comportamiento de los humanos.
  </p>
  <p>Existen dos tipos de cuentos</p>
  <ul>
    <li>El cuento popular: tiene hechos imaginarios; en la mayoría de estos cuentos, el autor es anónimo, tiene varias versiones. Tiene tres subtipos: hadas, animales y costumbres.</li>
    <li>El cuento literario: se transmite mediante la escritura, tiene una sola versión y a diferencia de el cuento popular, el autor es conocido.</li>
  </ul>
  <p>El apólogo es: la forma antigua en la que se conoce el cuento.</p>
  <p>Origen y desarrollo del cuento:</p>
  <p>No se sabe con exactitúd. En el siglo X, los primeros cuentos de origen árabe y persa, llegaron a Europa gracias a mercaderes, piratas y esclavos. Más tarde, llegaron a países conquistados.</p>
  <p>Las características del cuento son:</p>
  <ol>
    <li>Narración breve: contiene una introducción, nudo y descenlace.</li>
    <li>Se escribe mayormente en prosa.</li>
    <li>Tiene un tema el cuál se basa en una historia.</li>
    <li>Personaje principal (protagonista)</li>
    <li>Historia ficticia, puede tener cosas reales.</li>
    <li>El estilo debe de ser directo y fácil.</li>
    <li>Adopta diferetes técnicas como: la narración, el monólogo, el diálogo, la descripción y la hipérbola</li>
    <li>Es una narración centrípeta: todo tiene un centro común.</li>
  </ol>
  <p>Autores y cuentos:</p>
  <ol>
    <li>Gabriel García Márquez- La luz es como el agua y Los funerals de la Mamá Grande.</li>
    <li>Los hermanos Grimm- La Bella Durmiente y Blancanieves.</li>
    <li>Horacio Quiroga- La Gama Ciega y El Potro Salvaje.</li>
    <li>Juan Rulfo- El Llano en Llamas y Cartas a Clara.</li>
  </ol>
  <p>Sabías Que???</p>
  <ol>
    <li>En Hansel y Gretel, los papas, al abandonarlos en el bosque, están cometiendo un acto llamado: infanticidio.</li>
    <li>En la versión original de Pinocho: no iba dirigido a los niños, pues Pinocho, al decir mentiras era colgado en un árbol; después se adaptó a los niños, en donde solo le crecía la naríz.</li>
    <li>La historia de Rapunzel se parece al cuento persa llamado: Rudaba. En donde Rudaba, se ofrece a bajar su pelo de la torre, por el que Zal, su amante, pudiera subir con ella.</li>
  </ol>
  <p>El cuento en la India</p>
  <p>El cuento más influyente de la India antigua es Panchatranta, texto original en sánscrito del siglo Iva.C. que incorpora sesenta fábulas con cinco temas específicos: las peleas entre amigos, las amistades, la batalla entre cuervos y búhos, la pérdida de la propiedad y los actos que se realizan sin reflexionar.</p>
  <p>Las historias tienen el propósito de educar a un joven príncipe sobre cómo obtener el éxito en la tierra.  Su utilidad es enseñar a los jóvenes indios un buen e inteligente dominio de la vida. Se cree que el escritor fue un antiguo sabio llamado Bidpai pero no se sabe quién es el autor con exactitud. Los cuentos individuales que contiene fueron compuestos con mucha más antigüedad solo que primero se contaban de manera oral y luego se fueron recopilando y escribiendo hasta que se creó Panchatantra.</p>
  <p>Una de las diferencias más notables en la evolución del cuento en la India es que la intención de los cuentos de antes, por ejemplo en el Panchatantra, es meramente religiosa y educadora moral.</p>
  <p>Con el tiempo, ahora podemos encontrar gran variedad de temas y en muchos se refleja la situación de su país. Por ejemplo, en el cuento Masaan, se habla de la esperanza y las clases bajas, al igual que la polémica de las relaciones prematrimoniales.</p>
  <br>
  <p>Sabias que en la India...</p>
  <ul>
    <li>Las vacas son consideradas sagradas pues son vistas como un símbolo de fertilidad y maternidad. Están protegidas por la ley y nadie osa a molestarlas ni maltratarlas. Esta tradición lleva más de 2,500 años.</li>
    <li>A el punto rojo que llevan en la frente las mujeres, se le llama “bindi”. Puede tener muchas formalidades, el color rojo significa que la mujer está casada.</li>
    <li>Veda quiere decir conocimiento; las escrituras védicas son los 4 libros más antiguos de la literatura India escritos en idioma sánscrito. Esta colección de libros, tienen temáticas espirituales (materiales y religiosas); de hecho, antes formaba una religión primitiva llamada religión védica o vedismo que es anterior al Hinduismo. De esta manera, estos escritos son la base de la religión hindú de hoy en día. Los 4 libros se conocen como: Rig, Yajur, Sama y Atharva y significan ritual, ceremonia, cantar y sacerdote.</li>
    <li>
      <ul>
        <li>Brahamanes (sacerdotes e intelectuales)</li>
        <li>Kshátriyas (guerreros y reyes)</li>
        <li>Vaishyas (comerciantes)</li>
        <li>Shudras (campesinos y trabajadores)</li>
        <li>Dálitis o los intocables (los que hacen trabajos sucios)</li>
      </ul>
    </li>
  </ul>
  <br>
  <h3>Hanzel y Gretel - Los Hermanos Grimm.</h3>
  <p>
      Había una vez un leñador muy, muy pobre que vivía junto a un enorme bosque con su esposa y sus dos hijos: un niño y una niña. El niño se llamaba Hansel, y
      la niña, Gretel. Siempre andaban faltos de todo y llegó un día en que la cosecha fue tan escasa que el leñador ni siquiera tenía suficiente comida para dar
      a su familia el pan de cada día. Cierta noche en que no podía dormirse, tantas eran sus preocupaciones, despertó a su esposa para hablar con ella.
  </p>
  <p>
      ¿Qué va a ser de nosotros? -le dijo-. ¿Cómo vamos a alimentar a nuestros hijos si ni siquiera hay bastante para los dos?
  </p>
  <p>
      -Te diré lo que podemos hacer, esposo mío -respondió la mujer-. Mañana temprano llevaremos a los niños a la parte más espesa del bosque, encenderemos una
      hoguera y les daremos un trozo de pan, luego nos iremos a trabajar y los dejaremos allí solos. No podrán encontrar el camino de vuelta a casa y nos
      libraremos de ellos.
  </p>
  <p>
      -No, mujer -dijo el leñador-. Me niego a hacer algo así. ¿Crees acaso que tengo el corazón de piedra? Los animales salvajes los olerían enseguida y los
      devorarían.
  </p>
  <p>
      -¡Qué tonto eres! -exclamó la mujer-. Entonces, ¿qué hacemos? ¿Nos morimos de hambre los cuatro? Muy bien, no lo hagamos, pero entonces vete cortando
      madera para hacer cuatro ataúdes -dijo, y no lo dejó tranquilo hasta que consiguió convencerlo.
  </p>
  <p>
      Los niños, que no podían dormirse a causa del hambre, escucharon las palabras de su madrastra. Gretel se puso a llorar amargamente.
  </p>
  <p>
      -Estamos perdidos -le dijo a su hermano. -No -dijo Hansel-. No tengas miedo, encontraré la manera de escapar.
  </p>
  <p>
      Y en efecto, en cuanto oyó roncar a sus padres, se levantó, se puso el abrigo y salió por la puerta de atrás. Era noche de luna llena y las piedrecitas que
      había a la entrada de la casa brillaban como si fueran de plata. Hansel se agachó y cogió cuantas le cabían en los bolsillos. Luego volvió a entrar.
  </p>
  <p>
      - Para poder contestar la siguiente actividad consultar:
  </p>
  <p>
      http://albalearning.com/audiolibros/grimm/hanselygretel-sp.html#sthash.GgEMBY8T.dpuf
  </p>
  <br>
  <h3>ACTIVIDAD CONTESTADA</h3>
  <p>
      Encerrar la respuesta correcta.
  </p>
  <p>
      Hazel y Gretel huyen de sus padres.
  </p>
  <p>
      <strong>a) No, los abandonan.</strong>
  </p>
  <p>
      b) Sí.
  </p>
  <p>
      2. Se puede decir que este es un cuento ya que:
  </p>
  <p>
      <strong>a) Es una narración breve.</strong>
  </p>
  <p>
      b) Es una narración extensa ya que tiene mucho contenido.
  </p>
  <p>
      3. No es una fábula ya que:
  </p>
  <p>
      a) Tiene un mensaje (moraleja).
  </p>
  <p>
      <strong>b) No tiene moraleja.</strong>
  </p>
  <p>
      4. El texto esta escrito en verso.
  </p>
  <p>
      a) Sí verso.
  </p>
  <p>
      <strong>b) No prosa. </strong>
  </p>
  <p>
      5. En una noche Hanzel agarra comida mientras duermen sus padres.
  </p>
  <p>
      a) Sí.
  </p>
  <p>
      <strong>b)No, agarra unas piedras. </strong>
  </p>
  <p>
      6. El padre los lleva al bosque y les dice que volverían.
  </p>
  <p>
      a) Sí.
  </p>
  <p>
      <strong>b) No, fue la madre. </strong>
  </p>
  <p>
      7. La anciona era muy esplendida con los niños.
  </p>
  <p>
      a) Sí.
  </p>
  <p>
      <strong>b) No, solo les daba comida para después comércelos. </strong>
  </p>
  <p>
      8.Un pato les ayudo a cruzar.
  </p>
  <p>
      <strong>a) Sí. </strong>
  </p>
  <p>
      b) No fue un cisne.
  </p>
  <p>
      9.Se mueren ambos padres.
  </p>
  <p>
      a) Sí
  </p>
  <p>
      <strong>b) La madre.</strong>
  </p>
  <p>
      c) El padre.
  </p>
  <p>
      10) Hanzel mata a la bruja.
  </p>
  <p>
      a) Los dos.
  </p>
  <p>
      b) Sí.
  </p>
  <p>
      <strong>c) No, Gretel.</strong>
  </p>
  <br>
  <p>
      Un árbol de Noel y una boda- Dostoyevski
  </p>
  <p>
      Hace un par de días asistí yo a una boda… Pero no… Antes he de contarles algo relativo a una fiesta de Navidad. Una boda es, ya de por sí, cosa linda, y
      aquella de marras me gustó mucho… Pero el otro acontecimiento me impresionó más todavía. Al asistir a aquella boda, hube de acordarme de la fiesta de
      Navidad. Pero voy a contarles lo que allí sucedió.
  </p>
  <p>
      Hará unos cinco años, cierto día entre Navidad y Año Nuevo, recibí una invitación para un baile infantil que había de celebrarse en casa de una respetable
      familia amiga mía. El dueño de la casa era un personaje influyente que estaba muy bien relacionado; tenía un gran círculo de amistades, desempeñaba un gran
      papel en sociedad y solía urdir todos los enredos posibles; de suerte que podía suponerse, desde luego, que aquel baile de niños sólo era un pretexto para
      que las personas mayores, especialmente los señores papás, pudieran reunirse de un modo completamente inocente en mayor número que de costumbre y
      aprovechar aquella ocasión para hablar, como casualmente, de toda clase de acontecimientos y cosas notables. Pero como a mí las referidas cosas y
      acontecimientos no me interesaban lo más mínimo, y como entre los presentes apenas si tenía algún conocido, me pasé toda la velada entre la gente, sin que
      nadie me molestara, abandonado por completo a mí mismo.
  </p>
  <p>
      - Para poder contestar la siguiente actividad consultar:
  </p>
  <p>
      http://ciudadseva.com/texto/un-arbol-de-noel-y-una-boda/
  </p>
  <br>
  <h3>ACTIVIDAD CONTESTADA</h3>

  <p>
      Verdadero y Falso.
  </p>
  <p>
      1.Yulian Mastakovich quiere casarse con una mujer rica.
  </p>
  <p>
      <strong>a) Verdadero. </strong>
  </p>
  <p>
      b) Falso.
  </p>
  <p>
      2. Esta escrito en tercera persona
  </p>
  <p>
      a) Vedadero.
  </p>
  <p>
      <strong>b) Falso.</strong>
  </p>
  <p>
      3. Lugar de la historia es una boda.
  </p>
  <p>
      a)Verdadero.
  </p>
  <p>
      <strong>b) Falso.</strong>
  </p>
  <p>
      4. La niña desea casarse con Yulian.
  </p>
  <p>
      a) Verdadero.
  </p>
  <p>
      <strong>b) Falso.</strong>
  </p>
  <p>
      5.La historia se centra en la navidad.
  </p>
  <p>
      <strong>a) Verdadero.</strong>
  </p>
  <p>
      b) Falso.
  </p>
  <p>
      6. El escritor es Dostoievsqui.
  </p>
  <p>
      a) Verdadero.
  </p>
  <p>
      <strong>b) Falso.</strong>
  </p>
  <p>
      7.Se puede reflejar que no importa la clase social que perteneces.
  </p>
  <p>
      a) Veradero.
  </p>
  <p>
      <strong>b) Falso.</strong>
  </p>
  <p>
      8. Hay un personaje principal donde todo gira sobre el.
  </p>
  <p>
      <strong>a) Verdadero.</strong>
  </p>
  <p>
      b) Falso.
  </p>
  <p>
      9. El propósito del cuento es narrar una historia en este cuento sí cumple.
  </p>
  <p>
      <strong>a) Verdadero. </strong>
  </p>
  <p>
      b) Falso.
  </p>
  <p>
      10. El cuento que se presenta es popular.
  </p>
  <p>
      a) Verdadero.
  </p>
  <p>
      <strong>b) Falso.</strong>
      <br/>
  </p>
  <br>
  <p align="center">
      Luvina- Juan Rulfo
  </p>
  <p>
      De los cerros altos del sur, el de Luvina es el más alto y el más pedregoso. Está plagado de esa piedra gris con la que hacen la cal, pero en Luvina no
      hacen cal con ella ni le sacan ningún provecho. Allí la llaman piedra cruda, y la loma que sube hacia Luvina la nom- bran Cuesta de la Piedra Cruda. El
      aire y el sol se han encargado de desmenuzarla, de modo que la tierra de por allí es blanca y bri- llante como si estuviera rociada siempre por el rocío
      del amanecer; aunque esto es un puro decir, porque en Luvina los días son tan fríos como las noches y el rocío se cuaja en el cielo antes que lle- gue a
      caer sobre la tierra.
  </p>
  <p>
      Y la tierra es empinada. Se desgaja por todos lados en barrancas hondas, de un fondo que se pierde de tan lejano. Dicen los de Lu- vina que de aquellas
      barrancas suben los sueños; pero yo lo único que vi subir fue el viento, en tremolina, como si allá abajo lo hubie- ran encañonado en tubos de carrizo. Un
      viento que no deja crecer ni a las dulcamaras: esas plantitas tristes que apenas si pueden vivir un poco untadas en la tierra, agarradas con todas sus
      manos al despeñadero de los montes. Sólo a veces, allí donde hay un poco de sombra, escondido entre las piedras, florece el chicalote con sus amapolas
      blancas. Pero el chicalote pronto se marchita. Entonces uno lo oye rasguñando el aire con sus ramas espinosas, haciendo un ruido como el de un cuchillo
      sobre una piedra de afilar.
  </p>
  <p>
      -Para poder contestar la siguiente actividad consultar:
  </p>
  <p>
      http://prepa8.unam.mx/academia/colegios/literatura/lengesp/ch/006.pdf
      <br/>
  </p>
  <br>
  <h3>ACTIVIDAD CONSTESTADA</h3>
  <p>
      Actividad <strong>CONTESTADA</strong>
  </p>
  <p>
      Encierra la respuesta correcta.
  </p>
  <p>
      El pueblo del que se habla es:
  </p>
  <p>
      a) Alegre.
  </p>
  <p>
      <strong>b) En soledad. </strong>
  </p>
  <p>
      <strong></strong>
  </p>
  <p>
      2. El ambiente es:
  </p>
  <p>
      a) Sombrío.
  </p>
  <p>
      <strong>b) Fantasmagórica.</strong>
  </p>
  <p>
      3. El narrador es:
  </p>
  <p>
      <strong>a) Omnisciente.</strong>
  </p>
  <p>
      b) Observador.
  </p>
  <p>
      4.El escenario es:
  </p>
  <p>
      <strong>a) Cantina.</strong>
  </p>
  <p>
      b) Parque.
  </p>
  <p>
      5. El cuento habla más sobre:
  </p>
  <p>
      a)Personajes.
  </p>
  <p>
      <strong>b) Pueblo</strong>
  </p>
  <p>
      6. Los habitantes del pueblo les afecta la naturaleza.
  </p>
  <p>
      <strong>a) Sí. </strong>
  </p>
  <p>
      b) No.
  </p>
  <p>
      7.San Juan Luvina le sonaba a este personaje como:
  </p>
  <p>
      a) Un nombre de miedo.
  </p>
  <p>
      <strong>b) Un nombre del cielo.</strong>
  </p>
  <p>
      8. El hombre del que se habla se va a trabajar a Luvina por el:
  </p>
  <p>
      a) Trabajo.
  </p>
  <p>
      <strong>b) El gobierno.</strong>
  </p>
  <p>
      9. La gente mayor esperaba:
  </p>
  <p>
      <strong>a) La muerte.</strong>
  </p>
  <p>
      b) Esperanza de vivir.
  </p>
  <p>
      10. El narrador llamaba a este pueblo:
  </p>
  <p>
      <strong>a) Purgatorio. </strong>
  </p>
  <p>
      b) El infierno.
      <br/>
  </p>
</div>
