<div>

  <h1>Epopeya</h1>
  <p>
      Es un texto escrito en verso largo que habla sobre las tradiciones de una sociedad con personajes heroicos. Se divide en cantos.
  </p>
  <p>
      Una de las epopeyas mas importantes es la Epopeya de Gilgamesh. Hoy en día siguen existiendo la epopeya pero escrita desde otro punto de visa mas enfocado
      en la sociedad.
  </p>
  <p>Estructura:</p>
  <ul>
    <li>Invocación a las musas</li>
    <li>Narrador omnisciente: tercera persona.</li>
    <li>Exposición.</li>
    <li>Desarrollo.</li>
    <li>Episodios.</li>
    <li>Desenlace.</li>
  </ul>

  <p>
      Epopeyas naturales o populares: tradición oral y de leyenda, con costumbres y tradiciones populares. Por ejemplo: La Odisea.
  </p>
  <p>
      Epopeyas de imitación o cultos: interés novelístico, destinadas a la lectura y no al aprendizaje. Por ejemplo. La Divina Comedia.
  </p>
  <br>
  <p>
      LA LITERATURA PERSA
  </p>
  <p>
      Comienza a desarrollarse hacia los años 650 a.C. Esta se expande hasta los bordes de Asia Central, pero principalmente se concentra en la actual Irán.
  </p>
  <p>
      La primera epopeya fue la de Gilgamesh, originaria de Mesopotamia, narra las aventuras del Rey Uruk en busca de la inmortalidad; escrita en tablillas de
      barro cocido… se dice que tenia tres mil versos pero solo se conservan algunos distribuidos en diferentes museos del mundo. Estas obras están escritas en
      el idioma persa y escrito en el mismo. Viene de la época antes de la conquista islámica. Cuando los abasíes llegaron al poder los escritores persas poco a
      poco se convirtieron en poetas y así desarrollando el idioma árabe.
  </p>
  <p>
      Luego llegan las epopeyas griegas, se les atribuyen a Homero, se narraban con absoluto respeto y objetividad, con un lenguaje culto y respetuoso. La
      primera fue la Ilíada, trata sobre la historia de la guerra de Troya; aquí se empieza a notar más el énfasis a la atmosfera heroica, la variedad y fuerza
      de pasiones y dignidad y el temple de los protagonistas. Posteriormente esta La Odisea, igual una historia de la guerra de Troya y la caracterización de la
      moral y heroísmo de los personajes, igual demuestra la vida familiar y la gran capacidad de observación
      <br/>
  </p>
  <p>Sabias que...</p>
  <ul>
    <li>Las segunda epopeyas larga en el mundo después de la Mahabharata es El libro de los Reyes. Este contiene 60,000 versos.</li>
    <li>Los persas fueron los primeros en escribir los derechos humanos en el cilindro de Ciro.</li>
    <li>Arquitectos persas fueron los primeros en construir molinos de viento de axil vertical.</li>
    <li>Actualmente Persia es el territorio de Irán.</li>
    <li>También se le conocía como el Imperio aqueménida.</li>
    <li>El idioma oficial era el arameo.</li>
    <li>De acuerdo con las estaciones del año la capital cambiaba (Perépolis, Susa, y Babilonia).</li>
    <li>Autor mas importante fue Ferdousi. Él escribió el Libro de los Reyes.</li>
  </ul>
</div>
