<div>
    <h1>Fábula</h1>
    <p>
        Son breves narraciones ficticias sobre problemas de los seres humanos.
    </p>
    <p>
        Se puede escribir en prosa o verso. Su intención es dejarte con una moraleja (enseñanza).
    </p>
    <p>
        Características
    </p>
    <ul>
        <li>Breves.</li>
        <li>Escrito en prosa o en verso.</li>
        <li>Diálogos con estilo directo o indirecto.</li>
        <li>Narrador.</li>
        <li>Tiempo indeterminado.</li>
        <li>Conversación entre animales o personas</li>
    </ul>

    <p>
        Los objetos demostrativos son cosas que causen el conflicto.
    </p>
    <p>
        Origen, desarrollo y autores de la fábula:
    </p>
    <p>
        Edad Antigua:
    </p>
    <p>
        En la antigua Mesopotamia, ya se podía encontrar en bibliotecas escolares.
    </p>
    <p>
        En la antigua Grecia, se escribió “La fábula del ruiseñor” por Hesíodo.
    </p>
    <p>
        En Roma, estuvieron autores como Horacio y Fredo.
    </p>
    <p>
        En la Edad Media, empezaron a haber más variedades de autores como: Romulus, Syntipas Dositeo.
    </p>
    <p>
        En el Renacimiento, están grandes autores como Leonardo da Vinci, Alciato, Francisco Sá de Miranda.
    </p>
    <p>
        La fábula en Egipto
    </p>
    <ul>
       <li>Las fábulas egipcias, comenzaron con los dioses caracterizando a los personajes principales; se basaban en historias con influencia griega y romana.</li>
       <li>Se cree que la existencia de las fábulas empezó en Egipto</li>
       <li>Después de un tiempo comenzaron a incluir animales en sus fábulas, en las cuales sacaban sus moralejas.</li>
       <li>Hay una fábula famosa de un concierto hecho por un asno, león, cocodrilo y mono. Estas también se encontraban dibujadas en los interiores de los templos.</li>
    </ul>
    <br>
    <p>
        Sabias que en Egipto:
    </p>
    <p>
        o Se ponen conos en la cabeza, los cuales tienen perfume.
    </p>
    <p>
        o Momificaban a sus mascotas para que acompañaran a sus dueños a la otra vida.
    </p>
    <p>
        o La flauta era el único instrumento de viento que usaban.
    </p>
    <p>
        o Ultratumba: era el paso para la vida que seguía (más importante).
    </p>
    <p>
        Ejemplos de fábulas:
    </p>
    <p>
        · Fábula del joven mago:
    </p>
    <p>
        Esta fábula es de las más antiguas que se conoce, fue transmitida de forma oral y también se encontraron representaciones de la misma en pirámides. Muestra
        influencia griega relacionando la ultratumba. Se puede notar una similitud con La Divina Comedia de Dante Aligheri.
    </p>
    <p>
        · El león y el ratón:
    </p>
    <p>
        El orgulloso león, cayó en una trampa y quedó atrapado en la red del cazador. Un pequeño ratón, lo quiso ayudar pero el león se burló del tamaño del ratón.
    Con paciencia y habilidad, el ratón liberó al león mordiendo las cuerdas hasta romperlas, demostrando que todos somos importantes.    <strong>Moraleja:</strong> No desprecies a los demás porque sus habilidades pueden sorprenderte.
    </p>
    <br>
    <p>
    ACTIVIDAD
    </p>
    <p>
        CREA TU PROPIA <strong>FÁBULA</strong>
    </p>
    <p>
        Pasos para car una fábula:
    </p>
    <p>
        1. Crear tus personajes principales
    </p>
    <p>
        2. ¿Qué representan tus personajes ?
    </p>
    <p>
        3. Lugar de desarrollo
    </p>
    <p>
        4. Elegir el conflicto
    </p>
    <p>
        5. Poner solución al conflicto
    </p>
    <p>
        6. Comienza a escribir tu introducción a los personajes, lugar y tiempo.
    </p>
    <p>
        7. Crea un desarrollo para llegar al conflicto
    </p>
    <p>
        8. Desarrollo hacia la solución
    </p>
    <p>
        9. Conclusión con moraleja (sumamente importante para una fábula)
    </p>
    <p>
        10. Revisar (ortografía, gramática, coherencia)
    </p>
    <p>
        11. Ultimas modificaciones
    </p>
    <p>
        Listo!
    </p>
    <!-- <img src="assets/tortuga.png"> -->
    <img src="https://www.dropbox.com/s/ekok3xuwgx16xn1/tortuga.png?raw=1" alt="">
    <p>“Los lentos pero constantes y perseverantes, ganan la carrera”</p>
</div>
