<div style="margin:30px">
	<img style="margin-left:22%" style="size:90px" alt="logo" src="/assets/logo.jpg">
	<h1>Inicio</h1>
	<p>En esta página web, decidimos publicar algunas de las diferentes literaturas junto con los géneros literarios al igual que sus subgéneros, con el fin de que entiendas el significado de las cosas, y las puedas aplicar en tu vida diaria de manera correcta.
	En la misma, puedes encontrar fácilmente los conceptos de las cosas, al mismo tiempo podrás hacer ejercicios en línea para desarrollar tus habilidades.

	También puedes encontrarnos en: https://eslaortografia.wordpress.com/ 
	En donde podrás ver reglas ortográficas, ejercicios y tutoriales.
	</p>
	<p>GÉNEROS LITERARIOS</p>
	<ul>
		<li>ÉPICO</li>
		<li>LÍRICO</li>
		<li>DRAMÁTICO</li>
	</ul>
	<p>SUBGÉNEROS LITERARIOS</p>
	<ul>
		<li>CUENTO</li>
		<li>NOVELA</li>
		<li>FÁBliA</li>
		<li>MITO</li>
		<li>LEYENDA</li>
	</ul>
</div>
