<div>
  <h1>Mito y Leyenda</h1>
  <p>Similitudes</p>
  <ul>
    <li>Se transmitían de manera oral los dos involucran los elementos ficticios.</li>
    <li>Cada uno tiene diferentes tipos como en la leyenda la urbana y en mito el etiológico.</li>
    <li>Se tranmiten de generación en generación.</li>
    <li>Necesidad de explicar el origen o un suceso sobre algo.</li>
    <li>No se tienen autores ya que surgen de la personas conforme al tiempo.</li>
    <li>Hablan de un solo tema.</li>
    <li>Se tienen diferentes versiones.</li>
  </ul>
  <p>Mito</p>
  <ul>
    <li>Personajes extraordinarios como dioses.</li>
    <li>No tiene hechos.</li>
    <li>Antes de la  creación.</li>
    <li>Hablan de temas religiosos en general.</li>
    <li>Narrador en tercera persona.</li>
    <li>Explican sobre el origen de las cosas.</li>
    <li>Hasday ibn Shaprut y Méname ibn Shrauq.</li>
  </ul>
    <p>Leyenda</p>
  <ul>
    <li>Más realísticas.</li>
    <li>Históricas.</li>
    <li>Ligadas por la realidad.</li>
    <li>Hablan sobre algo que sucedio para ver el porqué pasó.</li>
    <li>Narrador de tipo externo</li>
  </ul>
    <p>Mito</p>
  <ul>
    <li>1300 a.c, en oriente medio.</li>
    <li>Elaborada por judíos en hebreo.</li>
    <li>Doce etapas y las primeras tres hablan sobre el Antiguo Testamento.</li>
    <li>La primera parte de la Biblia es el Antiguo Testamento.</li>
    <li>Se transmitía de manera oral hasta que surge el A.T.</li>
    <li>Al principio se sentaron en oriente medio y después en pueblos semitas como Israel.</li>
    <li>La ley el cual tiene 5 libros son las obras más destacadas de esta cultura.</li>
    <li>Antiguo Testamento: Habla sobre la antigua alianza de Yahvé (Dios) con el pueblo. Para los judíos hay 39 libros y para los cristianos 45.</li>
    <li>Hay libros históricos, narrativos y proféticos dentro de estos destacan:
      <li>Pentateuco donde tiene el Génesis, Éxodo, Levítico, Números y Deuteronomio según la tradicion de los escritos por Moisés.</li>
      <li>Carácter poético- Cantar de los cantares y Salmos.</li>
      <li>Filosóficos y moral- Proverbios.</li>
      <li>Libros proféticos- Autores son los profetas, explica lo que Dios quería comunicar.</li>
    </li>
  </ul>
  <p>Autores actuales: Raphael Patai y Robert graves (CAÍDA DE LUCIFER).</p>
  <p>
  <br>
    <strong><u>ACTIVIDADES MITO Y LEYENDA HEBREA </u></strong>
  </p>
  <p>
      Responde a las siguientes frases con M si es Mito o con L si es Leyenda y ambos ML
  </p>
  <p>
      1. Dioses sobrenaturales__
  </p>
  <p>
      2. Explica acontecimientos__
  </p>
  <p>
      3. Narrador es la voz del texto__
  </p>
  <p>
      4. Hechos fantásticos__
  </p>
  <p>
      5. Personajes fabulosos__
  </p>
  <p>
      6. Se transmite de forma oral__
  </p>
  <p>
      7. Se basa en lo religioso__
  </p>
  <p>
      8. Relato folclórico__
  </p>
  <p>
      9. Se ubica entre lo real y lo ficticio__
  </p>
  <p>
      10. Trata de explicar la realidad__
  </p>
  <p>
      Actividad <strong>CONTESTADA</strong>
  </p>
  <p>
      • Dioses sobrenaturales ____M___
  </p>
  <p>
      • Explica acontecimientos ___L___
  </p>
  <p>
      • Narrador es la voz del texto __L___
  </p>
  <p>
      • Hechos fantásticos ___ML___
  </p>
  <p>
      • Personajes fabulosos __M___
  </p>
  <p>
      • Se transmite de forma oral __L__
  </p>
  <p>
      • Se basa en lo religioso __M___
  </p>
  <p>
      • Relato folclórico ___L___
  </p>
  <p>
      • Se ubica entre lo real y lo ficticio __L__
  </p>
  <p>
      • Trata de explicar la realidad __M__
  </p>
  <br>
  <p>
      AUTORES DE <strong>LEYENDAS </strong>
  </p>
  <p>
      O F V J Y S F Y H G D C X X J V P G N
  </p>
  <p>
      E E Y K N O K H A S A D E E Q O O U W
  </p>
  <p>
      J Y I Z Q Z G I R E F Y I V D C D U P
  </p>
  <p>
      Y H E M O P I D E R M R J N I D A B B
  </p>
  <p>
      Y M E A K A M A N T O E V Q V N E K B
  </p>
  <p>
      D B Y B D O D E L S O U M A M R O N P
  </p>
  <p>
      M Z E R A V L O I L E G O R S O J W H
  </p>
  <p>
      H P A W E I Q L J B W Q B S C Z I H K
  </p>
  <p>
      E X A N A S T A S I A R O M A N O V A
  </p>
  <p>
      Q B F N W E A F Z X H V B P Q R I X J
  </p>
  <p>
      R E U Q C B O F L O D A O V A T S U G
  </p>
  <p>
      W H G I B I I M X X M N Y O G D B X X
  </p>
  <p>
      B H E D H S T U F V L Y G M X U L Y C
  </p>
  <p>
      I Q K F E F T T W J I Z O U T I A C T
  </p>
  <p>
      C K V U J U E A A F T H X G K T I R H
  </p>
  <p>
      C V G A L V U Z Q W D Z P H W G I I Y
  </p>
  <p>
      N W J D O B L N C R R X C J Z E T X N
  </p>
  <p>
      C V B R F J H B J Q V E I E A Z U X O
  </p>
  <p>
      Z T K V O N I R A M L E D A B M I S S
  </p>
  <p>
      • Aka Manto
  </p>
  <p>
      • Anastasia Romanov
  </p>
  <p>
      • Edipo
  </p>
  <p>
      • Gustavo Adolfo Bécquer
  </p>
  <p>
      • José Rogelio Álvarez
  </p>
  <p>
      • Nok Hasadee
  </p>
  <p>
      • Norma Muños Ledo
  </p>
  <p>
      • Simba del Marino
  </p>

  <br>
  <p>Crucigrama</p>
  <!-- <img style="margin-left:22%" style="size:90px" alt="logo" src="/assets/cruci.png"> -->
  <img src="https://www.dropbox.com/s/ouy1pnw2ais6mkr/cruci.png?raw=1" alt="">
  <p>Horizontal</p>
  <p>
      3. ¿Qué personaje es conocido como el "soñador"?​
  </p>
  <p>
      4. ¿Dónde vivió Isaac?​
  </p>
  <p>
      5. ¿Quién es el hijo de Abraham?​
  </p>
  <p>
      6. ¿Qué es un patriarca?
  </p>
  <p>
      8. Autor del Pentateuco.​
  </p>
  <p>
      Vertical
  </p>
  <p>
      1. Menciona un tipo de salmo
  </p>
  <p>
      2. ¿Cómo se le llamaba a Jacob?​
  </p>
  <p>
      7. ¿Cuántos hijos tuvo Jacob?​
  </p>
</div>
