<div style="margin:25px">
    <h1>Novela</h1>
    <p>
        La novela es un relato complejo, escrito en prosa donde se relatan múltiples acciones. Tiene diferentes ambientaciones, personajes y acciones las cuales se
        van relatando a lo largo de la novela con detalle. Contiene una presentación, desarrollo y conclusión.
    </p>
    <p>
        Elementos:
    </p>

    <ul>
        <li>Acción: lo que sucede.</li>
        <li>Caracteres: las personas o personajes.</li>
        <li>Ambiente: el escenario y la época.</li>
        <li>Por lo general se divide en capítulos y es más extensa que el cuento.</li>
    </ul>

    <p>
        Características:
    </p>
    <ol>
        <li>Crea su propio mundo narrativo: la novela es imaginada aunque parezca que es verdadera.</li>
        <li>Toda novela es ficción: el novelista crea historias de fantasía. Transforma todo lo que tiene que ver con lo cultural o social.</li>
        <li>Se opone a la historia: no son reales, ni han sido comprobados. No existen, contienen hechos históricos.</li>
        <li>Tiene una fuerte carga connotativa: las palabras y el contexto tienen una gran importancia en las novelas.</li>
        <li>Describe varias historias simultáneas: construye mundos en los cuales se crean historias paralelas, es decir, que la ambientación nunca está aislada.</li>
        <li>Tiene múltiples personajes: puede tener varios personajes, entre ellos están los protagonistas y los antagonistas.</li>
        <li>Los personajes se describen física y psicológicamente: normalmente los autores describen el pensamiento y comportamiento del autor con el fin de que la
        historia tenga una mayor credibilidad en sus acciones.</li>
        <li>Combina descripción y diálogo: la novela puede llegar a combinar estas dos para que los mismos personajes sean narradores.</li>

    </ol>
    <p>
        Tipos de novelas:
    </p>
    <ul>
        <li>Históricas.</li>
        <li>Policiacas.</li>
        <li>Psicológicas.</li>
        <li>Aventuras.</li>
        <li>Misterio.</li>
        <li>Terror.</li>
        <li>Fantásticas.</li>
    </ul>
    <p>
        Sabías Que??
    </p>
    <ul>
        <li>La novela más cara del mundo cuesta 153 millones de Euros. El autor de la novela es Thomas Alexander Hartman. La novela tiene únicamente 13 páginas
        escritas.</li>
        <li>Ryoki Inoue, escritor brasileño, es el novelista que más novelas ha escrito en la historia. Ha publicado actualmente 1,072 novelas y publica 6 trabajos
        mensualmente.</li>
    </ul>
    <p>
        La novela en China.
    </p>
    <p>
        En la China Antigua, las novelas normalmente eran escritas sobre dinastías. Hoy en día, en la novela China, hay muchos tipos de voces y estilos. Hoy
        existen más estilos como la fantasía el humor, la crítica política y erotismo.
    </p>
    <p>
        Autores
    </p>
    <p>
        · Confucio (confucianismo: es una manera de pensar. En alguna época se pudo haber considerado una religión.)
    </p>
    <ul>
        <li>
            Laozi
        </li>
        <li>
            Mo Yan
        </li>
        <li>
            Lisa See
        </li>
    </ul>
    <p>
        Sabias que en China:
    </p>
    <p>
        o El té es la bebida tradicional de esta cultura.
    </p>
    <p>
        o Usaban mucho la piedra de jade para sus productos y artesanías.
    </p>
    <p>
        o El mandarín es la lengua oficial.
    </p>
    <p>
        o Las tradiciones más importantes son sus festivales, sobre todo el Festival de Primavera. En este festival, se anuncia el comienzo del año nuevo lunar.
    </p>
    <p>
        o La caligrafía es algo muy significativo, tiene su nacimiento desde hace cien mil años atrás, es considerado como arte.
    </p>
    <br>
    <p>
        <strong>ACTVIDADES NOVELA</strong>
    </p>
    <p align="center">
        <em>La Ciudad de las Bestias</em>
        - Isabel Allende
    </p>
    <p>
        Alexander Cold despertó al amanecer sobresaltado por una pesadilla. Soñaba que un enorme pájaro negro se estrellaba contra la ventana con un fragor de
        vidrios destrozados, se introducía a la casa y se llevaba a su madre. En el sueño él observaba impotente cómo el gigantesco buitre cogía a Lisa Cold por la
        ropa con sus garras amarillas, salía por la misma ventana rota y se perdía en un cielo cargado de densos nubarrones. Lo despertó el ruido de la tormenta,
        el viento azotando los árboles, la lluvia sobre el techo, los relámpagos y truenos. Encendió la luz con la sensación de ir en un barco a la deriva y se
        apretó contra el bulto del gran perro que dormía a su lado. Calculó que a pocas cuadras de su casa el océano Pacífico rugía, desbordándose en olas furiosas
        contra la cornisa. Se quedó escuchando la tormenta y pensando en el pájaro negro y en su madre, esperando que se calmaran los golpes de tambor que sentía
        en el pecho. Todavía estaba enredado en las imágenes del mal sueño.
    </p>
    <p>
        El muchacho miró el reloj: seis y media, hora de levantarse. Afuera apenas empezaba a aclarar. Decidió que ése sería un día fatal, uno de esos días en que
        más valía quedarse en cama porque todo salía mal. Había muchos días así desde que su madre se enfermó; a veces el aire de la casa era pesado, como estar en
        el fondo del mar. En esos días el único alivio era escapar, salir a correr por la playa con Poncho hasta quedar sin aliento. Pero llovía y llovía desde
        hacía una semana, un verdadero diluvio, y además a Poncho lo había mordido un venado y no quería moverse. Alex estaba convencido de que tenía el perro más
        bobalicón de la historia, el único labrador de cuarenta kilos mordido por un venado. En sus cuatro años de vida, a Poncho lo habían atacado mapaches, el
        gato del vecino y ahora un venado, sin contar las ocasiones en que lo rociaron los zorrillos y hubo que bañarlo en salsa de tomate para amortiguar el olor.
        Alex salió de la cama sin perturbar a Poncho y se vistió tiritando; la calefacción se encendía a las seis, pero todavía no alcanzaba a entibiar su pieza,
        la última del pasillo.
    </p>
    <p>
        o Para poder contestar la siguiente actividad consultar: http://www.isabelallende.com/es/book/city/excerpt
    </p>
    <br>
    <p>
        Actividad<strong>  CONTESTADA</strong>
    </p>
    <p>
        Encerrar cual es la respuesta correcta.
    </p>
    <p>
        1.Manera en la que se presenta este fragmento.
    </p>
    <p>
        <strong>-Prosa</strong>
    </p>
    <p>
         -Verso
    </p>
    <p>
        2.Tipo de género pertenece esta obra:
    </p>
    <p>
        <strong> -Épico</strong>
    </p>
    <p>
        -Lírico 
    </p>
    <p>
        -Dramático
    </p>
    <p>
        3. ¿Qué tipo de autoestima tiene Alexander el de acuerdo al fragmento?:
    </p>
    <p>
        <strong> -Baja</strong>
    </p>
    <p>
        -Alta
    </p>
    <p>
        4. Nadia y Alex al encontrarse con estos seres fantásticos ellos les prometen:
    </p>
    <p>
        -Comida y sustento. 
    </p>
    <p>
        <strong>-Danza y música.</strong>
    </p>
    <p>
        5.¿En qué tipo de persona esta desarrollada la obra?
    </p>
    <p>
        -Primera
    </p>
    <p>
         -Segunda 
    </p>
    <p>
        <strong>-Tercera</strong>
    </p>
    <p>
        6.En caso de fallarle a la tribu esta podría castigar a la persona de la siguiente manera:
    </p>
    <p>
        -Matándola. 
    </p>
    <p>
        -Quitándole su hogar. 
    </p>
    <p>
        <strong>-Aislamiento.</strong>
    </p>
    <p>
        7. De qué era la pesadilla de Alex?
    </p>
    <p>
        • <strong>Pájaro con garras amarillas.</strong>
    </p>
    <p>
        • Bestia con dientes afilados.  
    </p>
    <p>
        • Pájaro con garras color negro.
    </p>
    <p>
         8. Que tenía el garaje de Nicole:  
    </p>
    <p>
        • Coches.  
    </p>
    <p>
        • Guarida.  
    </p>
    <p>
        • <strong>Zoológico.</strong>
    </p>
    <p>
        9. Relación entre Alex y Nicole:
    </p>
    <p>
        - Amigos.
    </p>
    <p>
        <strong> -Hermanos.</strong>
    </p>
    <p>
        -Enemigos.  
    </p>
    <p>
        10. Nombre del autor:  
    </p>
    <p>
        • <strong>Isabel Allende.</strong>
    </p>
    <p>
        • Isabella Allende.  
    </p>
    <p>
        • Carolina Estévez.  
    </p>
    <p align="center">
        <em>El ingenioso hidalgo don Quijote de la Macha</em>
        - Miguel de Cervantes Saavedra
    </p>
    <p>
        PRIMERA PARTE  CAPÍTULO
    </p>
    <p>
        1: Que trata de la condición y ejercicio del famoso hidalgo D. Quijote de la Mancha En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha
        mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero,
        salpicón las más noches, duelos y quebrantos los sábados, lentejas los viernes, algún palomino de añadidura los domingos, consumían las tres partes de su
        hacienda. El resto della concluían sayo de velarte, calzas de velludo para las fiestas con sus pantuflos de lo mismo, los días de entre semana se honraba
        con su vellorí de lo más fino. Tenía en su casa una ama que pasaba de los cuarenta, y una sobrina que no llegaba a los veinte, y un mozo de campo y plaza,
        que así ensillaba el rocín como tomaba la podadera. Frisaba la edad de nuestro hidalgo con los cincuenta años, era de complexión recia, seco de carnes,
        enjuto de rostro; gran madrugador y amigo de la caza. Quieren decir que tenía el sobrenombre de Quijada o Quesada (que en esto hay alguna diferencia en los
        autores que deste caso escriben), aunque por conjeturas verosímiles se deja entender que se llama Quijana; pero esto importa poco a nuestro cuento; basta
        que en la narración dél no se salga un punto de la verdad. Es, pues, de saber, que este sobredicho hidalgo, los ratos que estaba ocioso (que eran los más
        del año) se daba a leer libros de caballerías con tanta afición y gusto, que olvidó casi de todo punto el ejercicio de la caza, y aun la administración de
        su hacienda; y llegó a tanto su curiosidad y desatino en esto, que vendió muchas hanegas de tierra de sembradura, para comprar libros de caballerías en que
        leer; y así llevó a su casa todos cuantos pudo haber dellos; y de todos ningunos le parecían tan bien como los que compuso el famoso Feliciano de Silva:
        porque la claridad de su prosa, y aquellas intrincadas razones suyas, le parecían de perlas; y más cuando llegaba a leer aquellos requiebros y cartas de
        desafío, donde en muchas partes hallaba escrito: la razón de la sinrazón que a mi razón se hace, de tal manera mi razón enflaquece, que con razón me quejo
        de la vuestra fermosura, y también cuando leía: los altos cielos que de vuestra divinidad divinamente con las estrellas se fortifican, y os hacen
        merecedora del merecimiento que merece la vuestra grandeza.
    </p>
    <p>
        o Para contestar la actividad de debajo se tiene que leer la obra completa, se puede consultar en:
        https://www.donquijote.org/spanishlanguage/literature/library/quijote/quijote1.pdf
    </p>
    <p>
        Actividad <strong>CONTESTADA</strong>
    </p>
    <p>
         Lee los siguientes enunciados fragmentos y poner su es verdadero o falso.
    </p>
    <p>
        1. El caballo de Don Quijote se llama Rocinante.
    </p>
    <p>
        <strong>VERDADERO </strong>
    </p>
    <p>
         FALSO
    </p>
    <p>
        2. Sancho y Quijote se alimentaban queso y carne.
    </p>
    <p>
        VERDADERO
    </p>
    <p>
         <strong>FALSO</strong>
    </p>
    <p>
        3.Quijote era de la clase alta.
    </p>
    <p>
        VERDADERO
    </p>
    <p>
         <strong>FALSO</strong>
    </p>
    <p>
        4. Dulcinea fue solo un ser en la mente de Don Quijote. <strong>VERDADERO</strong>
    </p>
    <p>
        FALSO
    </p>
    <p>
        5. Es una novela de caballería.
    </p>
    <p>
        <strong>VERDADERO </strong>
    </p>
    <p>
         FALSO
    </p>
    <p>
        6. Don Quijote hizó 2 salidas.
    </p>
    <p>
        VERDADERO
    </p>
    <p>
         <strong>FALSO</strong>
    </p>
    <p>
        7. El perro de Don Quijote es galgo.
    </p>
    <p>
        <strong>VERDADERO</strong>
    </p>
    <p>
        FALSO
    </p>
    <p>
        8.El nombre real de Don Quijote es Alonso Quijote.
    </p>
    <p>
        VERDADERO
    </p>
    <p>
         <strong>FALSO </strong>
    </p>
    <p>
        <strong> </strong>
    </p>
    <p>
        9.Don Quijote se refiere al barbero Maese Nicolás como Miculoso.
    </p>
    <p>
        <strong>VERDADERO </strong>
    </p>
    <p>
         FALSO
    </p>
    <p>
        10.El autor de esta obra es Miguel de Cervantes.
    </p>
    <p>
        <strong>VERDADERO </strong>
    </p>
    <p>
        FALSO
    </p>
    <p align="center">
        <em>Noticia de un secuestro</em>
        - Gabriel García Márquez
    </p>
    <p>
        Antes de entrar en el automóvil miró por encima del hombro para estar segura de que nadie la acechaba. Eran las siete y cinco de la noche en Bogotá. Había
        oscurecido una hora antes, el Parque Nacional estaba mal iluminado y los árboles sin hojas tenían un perfil fantasmal contra el cielo turbio y triste, pero
        no había a la vista nada que temer. Maruja se sentó detrás del chofer, a pesar de su rango, porque siempre le pareció el puesto más cómodo. Beatriz subió
        por la otra puerta y se sentó a su derecha. Tenían casi una hora de retraso en la rutina diaria, y ambas se veían cansadas después de una tarde soporífera
        con tres reuniones ejecutivas. Sobre todo Maruja, que la noche anterior había tenido fiesta en su casa y no pudo dormir más de tres horas. Estiró las
        piernas entumecidas, cerró los ojos con la cabeza apoyada en el espaldar, y dio la orden de rutina:
    </p>
    <p>
        -A la casa, por favor. Regresaban como todos los días, a veces por una ruta, a veces por otra, tanto por razones de seguridad como por los nudos del
        tránsito. El Renault 21 era nuevo y confortable, y el chofer lo conducía con un rigor cauteloso. La mejor alternativa de aquella noche fue la avenida
        Circunvalar hacia el norte. Encontraron los tres semáforos en verde y el tráfico del anochecer estaba menos embrollado que de costumbre. Aun en los días
        peores hacían media hora desde las oficinas hasta la casa de Maruja, en la transversal Tercera N° 84A-42 y el chofer llevaba después a Beatriz a la suya,
        distante unas siete cuadras.
    </p>
    <p>
        Para contestar la actividad de debajo se tiene que leer la obra completa, se puede encontrar en:
        http://biblio3.url.edu.gt/Libros/garcia_marquez/secuestro.pdf
        <br/>
    </p>
    <p>
        Actividad<strong> CONTESTADA</strong>
    </p>
    <p>
        Relacionar poniendo la respuesta correcta.
    </p>
    <p>
        1. Orden en el cual sucedieron los secuestros.
    </p>
    <p>
        a) Maruja y Beatriz.  
    </p>
    <p>
        b) Diana y equipo.  
    </p>
    <p>
        c) Pacho Hernández.  
    </p>
    <p>
        d) Marina Montoya.  
    </p>
    <p>
        1 a,b,c,d 
    </p>
    <p>
        2 d,b,c,a 
    </p>
    <p>
        <strong>3 d,c,b,a</strong>
    </p>
    <p>
        4 b,a,d,c
    </p>
    <p>
        2. Orden en el cual estas dos personas murierón.
    </p>
    <p>
        A) Diana, Marina.
    </p>
    <p>
         <strong>B)Marina, Diana.</strong>
    </p>
    <p>
        3. Orden de presidencia.
    </p>
    <p>
         <strong>A) Turbay, Gaviria</strong>.
    </p>
    <p>
        B)Gaviria, Turbay.
    </p>
    <p>
        4. Orden de liberación. 
    </p>
    <p>
        <strong>A) Marina, Diana, Beatriz, Maruja.</strong>
    </p>
    <p>
        B) Marina, Beatriz, Maruja, Diana.
    </p>
    <p>
         D) Beatriz, Maruja, Diana, Marina.
    </p>
    <p>
        5. Relación de Maruja con Beatriz:
    </p>
    <p>
        <strong>A) Cuñadas. </strong>
    </p>
    <p>
        B) Hermanas.
    </p>
    <p>
        6. Programa del padre García:
    </p>
    <p>
        A) El segundo con Dios. 
    </p>
    <p>
        <strong>B) El minuto con Dios. </strong>
    </p>
    <p>
        7)El libro se basa en el contexto de:
    </p>
    <p>
        <strong> A) Guerra de narcotráfico.</strong>
    </p>
    <p>
        B) Guerra de libertad de expresión.
    </p>
    <p>
        8) Dos personas que trabajaron juntas para el rescate de sus hijos:
    </p>
    <p>
        <strong>A) Turbay y Hernández. </strong>
    </p>
    <p>
        B) Turbay y Gaviria.
    </p>
    <p>
        9) Ciudad donde se desarrolla:
    </p>
    <p>
        A) Portugal
    </p>
    <p>
         B) <strong>Colombia.</strong>
    </p>
    <p>
        10) Personaje histórico del que abarca la novela:
    </p>
    <p>
        A) Chapo Guzmán.
    </p>
    <p>
         <strong>B) Pablo Escobar.</strong>
</p>
</div>