<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <br>
    <span class="text-muted">Isabella Páramo || Ximena Diez || Ana Paula Porragas</span>
    <span class="pull-right"><%= link_to "Colegio del Bosque", "http://www.delbosquemexico.com/index.php/es/", target: "_blank", id: "main_a" %></span>
  </div>
</footer>
